
    <footer class="footer">
      <div class="footer_container">

        <ul class="section_footer_left">
          
            <li class="legal-section"> <a href="http://wwww.adalab.com">Legal</a> </li>
            <li class="legal-section"> <a href="http://www.adalab.com"></a>Cookies </a></li>
            <li class="legal-section"> <a href="http://www.adalab.com"></a>   Información sobre los anuncios</li>
          </ul>
            <li>Legal </li>
            <li>Cookis</li>
        
          <p>Información sobre los anuncios</p>
        </ul>
        
        <ul class="section_footer_right">
          <div class="españa_flag">
            <li>España</li>
            <img class="flag" 
              src="https://raw.githubusercontent.com/Adalab/ejercicios-de-los-materiales/6b779a268197883460e6cadd494e901c8f6fe080/modulo-1-spotify/images/es.svg" alt="bandera española"/>      
          </div>    
          <p>© 2019 Spotify AB</p>
        </ul>
    </footer>



