<<<<<<< HEAD

/*
.main__list {
  padding-left: 2rem;
  padding-bottom: 20px;
}

/* 
=======
/*.main__list {
  padding-left: 2rem;
  padding-bottom: 20px;
} */
>>>>>>> 76a26a0b8bb9f64a6253e293a520251cfddc4652
